.App {
  text-align: center;
}
.card {
display: inline-flex;
justify-content: space-between;
}
.card:first-of-type {
  margin-right: 10px;
}
.text-center {

}
.text-primary {

}
.text-info {

}
.card-img-top {

}
.card-body {

}
.card-title {

}
.card-text {
text-align: left;
}